@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:300,400,400i,600,700,700i');
@import '../libs/bootstrap-4.1.0/bootstrap.min.css';
@import '../libs/jquery.magnific-popup/magnific-popup.css';
@import '../libs/owlcarousel2-2.3.4/assets/owl.carousel.min.css';
@import '../libs/fontawesome-free-5.0.13/css/fontawesome-all.min.css';
/* [Master Stylesheet] */
/* --------------------------------------------
:: Template Name: Svargo House In The Wood - Tourism and Entertainment One Page PSD Template.
:: Template Author: Svargo theme
:: Template Author URI: https://themeforest.net/user/mx_reliable/portfolio
:: Description: Tourism and Entertainment One Page PSD Template made for hotel, tourism, pansionate, travel services, kayakin, camping, fishing, bicycle and tourist entertainment.
:: Tags: Target, Business Template,  Bootstrap 4, HTML Template, HTML5 Template.
:: Version: v1.0.0
:: Last Updated: 21/07/2018.
-------------------------------------------- */
/* =========== [Master Stylesheet] ============
1. :: TOP NAV
2. ::MAIN HEADER
3. ::MAIN NAV MOBILE
4. ::HOME PAGE BIG SLIDER
5. ::HOME PAGE ABOUT
6. ::HOME PAGE ADVATNAGES LIST
7. ::HOME PAGE OUR SERVICE CAROUSE
8. ::HOME PAGE OUR PHOTOS
9. ::HOME REVIEWS SLIDER
10. ::FORM INPUE FIELDS STYLE
11. ::HOME OUR TEAM
12. ::HOME NEWS LIST
13. ::PAGE HEAD TITLE
14. ::SINGLE TEAM PAGE
15. ::CATEGORY NEWS
16. ::SERVICE SICNGLE
17. ::RELATED CARD
18. ::POST OPTIONS
19. ::PAGE PAGINATION
20. ::FILTER STYLE NAVIGATION
21. ::SIDEBAR SITE
22. ::ABOUT PAGE
23. ::ABOUT PAGESOCIAL LINE
24. ::SUBSCRIBE LINE
25. ::MAIN FOOTER
===================================== */
/*RESSET STYLE*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* HTML5 DISPLAY-ROLE RESET FOR OLDER BROWSERS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.no_padding {
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/*******************TYPOGRPHY*********************/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.48;
  font-weight: 400;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
p {
  word-spacing: 1px;
}
/********************MIXINS********************/
/******************CUSTOM CSS ANIMATION FUNCTION********************/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn ;
}
/*MIXI ANIMATION*/
.hidden_hwfilter{
	transition:all .6s;
	animation-name: zoomOut!important;
	animation-duration:.6s;
	animation-fill-mode: both;
	display:none;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*ELEMENT TYPOGRAPHY STYLE*/
.sec-title h2 {
  font-size: 45px;
}
.sec-title h3 {
  font-size: 35px;
}
.sec-title strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.sec-title .text {
  max-width: 650px;
  margin: auto;
  padding: 45px 0;
  font-size: 16px;
  text-align: center;
}
/********************CUSTOM CLASS STYLES********************/
.section_heading {
  margin-bottom: 45px;
}
.section_heading .section_heading_title {
  line-height: 0.9;
}
.describe_section_title {
  font-size: 18px;
  margin-top: 21px;
}
/*TEXT INDENT*/
.text_indent_30 {
  text-indent: 30px;
}
/********************PADDING********************/
.section_padding_100_100 {
  padding: 100px 0;
}
.section_padding_100_0 {
  padding: 100px 0 0 0;
}
.section_padding_60_30 {
  padding: 60px 0 30px 0;
}
.section_padding_30_60 {
  padding: 30px 0 60px 0;
}
.section_padding_0_60 {
  padding: 0 0 60px 0;
}
.section_padding_60_0 {
  padding: 60px 0 0 0;
}
.section_padding_60_60 {
  padding: 60px 0;
}
.section_padding_60_60_0_60 {
  padding: 60px 60px 0 60px;
}
/********************MARGIN********************/
.margin_bottom_30 {
  margin-bottom: 30px;
}
/**************CSUTOM GRID STYLE***************/
.columns_padding_5 [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row.columns_padding_5,
.columns_padding_5 .row {
  margin-left: -5px;
  margin-right: -5px;
}
/**************************BUTTONS****************************/
.sv_btn {
  display: inline-block;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  border: none;
  color: #000;
  cursor: pointer;
  background-color: #8fb73e;

}
.sv_btn.small_btn {
  padding: 7px 20px;
}
.sv_btn[type="submyt"] {
  padding: 9px 32px;
}
.sv_btn:hover,
.sv_btn:focus {
  outline: none;
  color: #000;
  text-decoration: none;
}
.sv_btn_trnsp {
  padding: 9px 20px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #8fb73e;
  transition: all 0.3s ease;
  color: #000;
}
.sv_btn_trnsp:hover,
.sv_btn_trnsp.active,
.sv_btn_trnsp.mixitup-control-active {
  background-color: #8fb73e;
  transition: all 0.3s ease;
  color: #000;
}
.btn_col_white {
  color: #fff;
}
.load_nav{
	padding:30px 0 0 0;
}
/*****************READ MORE LINKS*****************/
.reed_more,
.reed_more i {
  display: inline-block;
  color: #8fb73e;
}
.reed_more {
  padding: 0 5px;
  text-decoration: none;
}
.reed_more i {
  font-size: 13px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.reed_more:hover,
.reed_more:focus {
  text-decoration: none;
  color: #8fb73e;
}
/********************COL_FILED SPAN********************/
.col_filed_yel {
  color: #8fb73e;
}
/*******************QUB_LIST********************/
.qub_list li {
  position: relative;
  padding-left: 18px;
}
.qub_list li:after {
  position: absolute;
  content: '';
  left: 0;
  top: 7px;
  width: 6px;
  height: 6px;
  background-color: #282828;
}
/********************BG-IMG********************/
.bg_img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/********************BG-COLROS********************/
.dark_area {
  background-color: #282828;
}
.light_area {
  background-color: #ffffff;



}
.light_area1 {
  background-color: #ffffffb0





}
.light_area2 {
  /*background-image: url(../images/slider/fondo1.png);*/
  background-size: contain;
  background-repeat: no-repeat;

}



/********************BG overlay********************/
.bg_overlay1 {
  position: relative;
  z-index: 1;
}
.bg_overlay1:after {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/***********HOVER EFFECT ANIMATIONS***************/
.hover_link_effect {
  display: block;
  position: relative;
  color: #8fb73e;
}
.hover_link_effect img {
  display: block;
}
.hover_link_effect .fas,
.hover_link_effect i {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  font-size: 30px;
  color: #8fb73e;
  z-index: 2;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 0.6s ease;
}
.hover_link_effect:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.7);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}
.hover_link_effect:hover:after {
  opacity: 1;
  transition: all 0.6s ease;
}
.hover_link_effect:hover .fas,
.hover_link_effect:hover i {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.6s ease;
}
/********************CAROUSEL GENERAL STYLE********************/
.sv_dots_nav .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.sv_dots_nav .owl-dots .owl-dot {
  outline: none;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #282828;
}
.sv_dots_nav .owl-dots .owl-dot.active {
  background-color: #8fb73e;
  border: 2px solid #8fb73e;
}
.sv_arrow_nav .owl-nav .owl-prev,
.sv_arrow_nav .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #8fb73e!important;
  color: #000;
  transition: all 0.5s ease;
}
.sv_arrow_nav .owl-prev:focus,
.sv_arrow_nav .owl-next:focus,
.float_nav .owl-prev:focus,
.float_nav .owl-next:focus {
  outline: none;
}
.sv_arrow_nav .owl-prev:hover,
.sv_arrow_nav .owl-next:hover {
  background-color: #8fb73e!important;
  color: #000!important;
  transition: all 0.3s ease;
}
.sv_arrow_nav .owl-prev {
  left: -80px;
}
.sv_arrow_nav .owl-next {
  right: -80px;
}
.float_nav .owl-nav .owl-prev,
.float_nav .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border: 0px solid #8fb73e!important;
  background-color: #282828!important;
  color: #fff!important;
  transition: all 0.5s ease;
}
.float_nav .owl-nav .owl-prev:hover,
.float_nav .owl-nav .owl-next:hover {
  color: #8fb73e!important;
  transition: all 0.3s ease;
}
.float_nav .owl-prev {
  left: 0;
}
.float_nav .owl-next {
  right: 0;
}
/*****DARK BACKGROUND SLIDER********/
.dark_bg .owl-dots .owl-dot {
  border-color: #fff;
}
.dark_bg .name_card_wrapper {
  background-color: #8fb73e;
}
.dark_bg .name_card_wrapper .team_card_item_name {
  color: #000;
}
/********************D-FLEX********************/
.d-flex {
  display: flex;
}
.justify_content_center {
  box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.align_items_center {
  box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
/********************PSEV_TABLE********************/
.psev_table {
  display: table;
  width: 100%;
  height: 100%;
}
.psev_table_row {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}
/***************************************************/
/********************MAIN_HEADER********************/
/***************************************************/
.main_header {
  padding: 25px 0;
  background-color: #282828;
  z-index: 800;
  transition: all 1s ease;
}
.transparen_bg_head {
  background-color: transparent;
}
.float_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.fixed_header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.fixed {
  background-color: #282828;
  padding: 16px 0;
  transition: all 1s ease;
}



.logo_head {
  float: left;
  position: relative;
  top: 3px;
}
.logo_head a {
  outline: none;
}
/***************************************************/
/*********************TOP NAV***********************/
/***************************************************/
.top_nav_links {
  float: right;
  margin: 9px 0 0 0;
  padding: 0;

}
.top_nav_links .navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 25px;
  transition: all 0.5s ease;

}
.top_nav_links .navbar-nav > li {
  position: relative;
}
.top_nav_links .navbar-nav > li:last-child > a {
  padding-right: 0;
}
.top_nav_links .navbar-nav > li:first-child > a {
  padding-left: 0;
}
.top_nav_links .navbar-nav > li > a:hover {
  color: #8fb73e;
  text-decoration: none;
  transition: all 0.3s ease;
}
.top_nav_links .navbar-nav > li.active > a,
.top_nav_links .navbar-nav a.active {
  color: #8fb73e;
}
.nav_btn_toggle .navbar-toggler {
  color: #fff;
  outline: none;
  padding: 10px 0 0 0;
  border: none;
  font-size: 24px;
}
/*DROP DOWN MENU*/
.top_nav_links .has-child {
  position: relative;
}
.top_nav_links .has-child > a {
  position: relative;
}
.top_nav_links .has-child > a:after {
  position: absolute;
  content: '\f078';
  font-family: Font Awesome\ 5 Free;
  font-size: 10px;
  right: 4px;
  top: 9px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.top_nav_links .navbar-nav > li.has-child:last-child > a:after {
  right: auto;
  left: 4px;
}
.top_nav_links .has-child:hover > a:after {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.top_nav_links .has-child .sub-menu {
  visibility: hidden;
  top: 30px;
  left: 0;
  position: absolute;
  width: 220px;
  padding: 15px 0;
  background-color: #8fb73e;
  box-sizing: border-box;
  box-shadow: inset 0 -3px 0 #ffffff;
  opacity: 0;
  z-index: 100;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.top_nav_links .navbar-nav > li.has-child:last-child > .sub-menu {
  left: auto;
  right: 0;
}
.top_nav_links .has-child .sub-menu li .sub-menu {
  left: 220px;
  top: 0;
}
.top_nav_links .navbar-nav > li.has-child:last-child > .sub-menu li .sub-menu {
  left: -220px;
}
.top_nav_links .has-child:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease;
}
.top_nav_links .has-child:hover > a {
  color: #8fb73e;
}
.top_nav_links .has-child .sub-menu li {
  padding: 0 25px;
}
.top_nav_links .has-child .sub-menu a {
  display: block;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
  border-top: 1px solid #000;
  transition: all 0.3s ease;
}
.top_nav_links .has-child .sub-menu li:first-child a {
  border-top: 0px solid #000;
}
.top_nav_links .has-child .sub-menu li:hover > a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
/***************************************************/
/******************MAIN NAV MOBILE******************/
/***************************************************/
.main_nav_mobile {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 990;
}
.cover_mobile_menu {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 991;
}
.main_nav_mobile_inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background-color: #fff;
  transform: translateX(-320px);
  transition: all 0.6s ease;
  z-index: 999;
}
.main_nav_mobile.show_mobile_nav .main_nav_mobile_inner {
  transform: translateX(0px);
  transition: all 0.6s ease;
}
.close_mobile_menu {
  cursor: pointer;
  position: absolute;
  right: -50px;
  top: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  border: none;
  outline: none;
  background-color: #282828;
}
.main_nav_mobile .navbar_nav_over_wrapp {
  overflow-y: scroll;
  height: 100%;
}
.main_nav_mobile .navbar-nav .has-child {
  position: relative;
}
.main_nav_mobile .navbar-nav a {
  display: block;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  border-top: 1px solid #d6d6d6;
  transition: all 0.3s ease;
}
.main_nav_mobile .navbar-nav a:hover,
.main_nav_mobile .navbar-nav a:focus {
  text-decoration: none;
}
.main_nav_mobile .navbar-nav li:first-child a {
  border-top: 0px solid #000;
}
.main_nav_mobile .has-child .sub_menu_btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0px;
  width: 42px;
  line-height: 3;
  color: #fff;
  height: 42px;
  text-align: center;
  background-color: #282828;
}
.main_nav_mobile .has-child .sub_menu_btn i {
  transform: rotate(0);
  transition: all 0.3s ease;
}
.main_nav_mobile .sub_menu_btn.close_sub_menu i {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.main_nav_mobile .sub-menu {
  display: none;
  background-color: #282828;
}
.main_nav_mobile .sub-menu a {
  color: #fff;
  border-top: 0px solid #d6d6d6;
}
.main_nav_mobile .sub-menu .sub-menu,
.main_nav_mobile .sub-menu .sub_menu_btn {
  background-color: #f4f4f4;
  color: #000;
}
.main_nav_mobile .sub-menu .sub-menu a {
  color: #000;
}
/********************************************************/
/******************HOME PAGE BIG SLIDER******************/
/********************************************************/
.main_big_slider,
.main_big_slider .item {
  min-height: 970px;
}
/*slide background image*/
.item_mainslide_1 {
  background-image: url(../images/slider/1.jpg);
  background-position: center top;
}
.item_mainslide_2 {
  background-image: url(../images/slider/2.jpg);
  background-position: center bottom;
}
.item_mainslide_3 {
  background-image: url(../images/slider/3.jpg);
  background-position: center bottom;
}
/*END slide background image*/
.main_big_slider .psev_table {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.main_b_slider .container {
  position: relative;
  z-index: 5;
  top: 0;
}
.slider_sub_title,
.slider_big_title {
  color: #fff;
}
.slider_sub_title {
  font-size: 18px;
  margin-bottom: 27px;
}
.slider_big_title {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 17px;
}
.main_b_slider .owl-dots {
  display: none;
}
.main_big_slider .main_b_slider .owl-nav .owl-prev,
.main_big_slider .main_b_slider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #8fb73e;
  color: #fff;
  transition: all 0.5s ease;
}
.main_b_slider .owl-prev:focus,
.main_b_slider .owl-next:focus {
  outline: none;
}
.main_b_slider .owl-prev:hover,
.main_b_slider .owl-next:hover {
  background-color: #8fb73e!important;
  color: #000!important;
  transition: all 0.3s ease;
}
.main_b_slider .owl-prev {
  left: 4%;
}
.main_b_slider .owl-next {
  right: 4%;
}
/*******************************************************/
/********************HOME PAGE ABOUT********************/
/******************************************************/
.about_text_main {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  font-size: 16px;
}
.about_text_main h1,
.about_text_main h2 {
  margin-bottom: 17px;
  line-height: 1.1;
}
.about_text_main h3,
.about_text_main h4,
.about_text_main h5 {
  margin-top: 10px;
}
.about_text_main p {
  margin-bottom: 10px;
}
.about_text_main a {
  color: #000;
  text-decoration: underline;
}
.about_text_main ul {
  margin-top: 10px;
}
.vide_block {
  min-height: 500px;
  background-image: url(../images/video2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/***************************************************/
/*************HOME PAGE ADVATNAGES LIST*************/
/***************************************************/
.single_cool_fact {
  font-size: 16px;
}
.cool_fact_icon_img {
  margin-bottom: 10px;
  font-size:34px;
}
.cool_fact_name {
  margin-bottom: 23px;
}
/***************************************************/
/*********HOME PAGE OUR SERVICE CAROUSEL************/
/***************************************************/
.item_service_card {
  position: relative;
  overflow: hidden;
  max-height: 437px;

}
.page_pagination_wrapper{
    padding: 10px 0px 0px 0px;
    float: right;
    font-size: 17px;
}
.page_pagination_wrapper a{
    color:green;
}
.item_service_card .overlay {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 16px;
  opacity: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  padding: 30px 34px;
  background-color: #282828;
  transition: all 0.5s ease;
}
.item_service_card .overlay a {
  color: #8fb73e;
  text-decoration: none;
}
.item_service_card .overlay h5,
.item_service_card .overlay h6 {
  margin-bottom: 10px;
}
.item_service_card .overlay p {
  margin-bottom: 10px;


}
.item_service_card .overlay .name_service {
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}
.item_service_card:hover .overlay {
  opacity: 1;
  top: 0;
  transition: all 0.5s ease;
}
.image_service {
  overflow: hidden;
  background-color: #efefef;
}
.image_service img {
  display: block;
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.describe_service {
  background-color: #282828;
  padding: 30px 34px;
  color: #fff;
  font-size: 16px;

}
.name_service {
  color: #fff;
  text-align: center;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 23px;
  max-height: 62px;
}
/***************************************************/
/***************HOME PAGE OUR PHOTOS****************/
/***************************************************/
/*CONTROLS MIXI*/
.category-control {
  margin-bottom: 20px;
}
.category-control .filter {
  margin: 0 5px 10px 5px;
}
.category-control .filter:last-child {
  margin-bottom: 0;
}

/*MIXI CONTAINER*/
.grid_pics {
  min-height: auto!important;
  transition:all .6s;
}
/*MIXI CARD ITEM*/
.grid_pics .item {
	position: relative;
}
.grid_pics .item {
  position: relative;
  overflow: hidden;
}
.grid_pics .item img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all 2s ease;
}
.grid_pics .item:hover img {
  transform: scale(1.1);
  transition: all 4s ease;
}
.grid-item-wrapp {
  opacity: 0;
  transition: all 0.6s ease;
}
.grid-item-wrapp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.grid_pics .item:hover .grid-item-wrapp {
  background-color:#8fb73e71;
  opacity: 1;
  transition: all 0.6s ease;
}
.grid-item-wrapp:before {
  position: absolute;
  content: '';
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  border: 0px solid #fff;
}
.project_title {
  position: relative;
  z-index: 4;
}
.see_big_pic {
  font-size: 24px;
  color: #000;
}
.see_big_pic:hover,
.see_big_pic:focus {
  outline: none;
  color: #000;
}
/***************************************************/
/****************MIXI PAGINATION********************/
/***************************************************/
.pagination-mix {
  text-align: center;
  margin-top: 30px;
}
.pagination-mix a {
  display: inline-block;
  padding: 5px;
  height: 50px;
  width: 50px;
  margin: 0 7px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 42px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.pagination-mix a:hover,
.jp-next:hover:after,
.jp-previous:hover:after {
  background-color: #8fb73e;
  color: #000;
  transition: all 0.3s ease;
}
.pagination-mix a.jp-current {
  background-color: #8fb73e;
  color: #000;
}
.jp-next:after,
.jp-previous:after {
  position: relative;
  top: -2px;
  font-family: Font Awesome\ 5 Free;
  color: #000;
  font-size: 15px;
}
.jp-previous.jp-disabled,
.jp-next.jp-disabled {
  /*display:none;*/
}
.jp-next:after {
  content: "\f054";
}
.jp-previous:after {
  content: "\f053";
}
/***************************************************/
/****************HOME REVIEWS SLIDER****************/
/***************************************************/
.review_form_line {
  background-color: #f4f4f4;
  background-image: url(../images/gallery/large4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.review_form_line .container {
  position: relative;
  z-index: 2;
}
.review_form_line .section_heading {
  color: #fff;
}
.reviews_carousel .item {
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
  padding: 0 15px;
}
.reviews_carousel.sv_dots_nav .owl-dots .owl-dot {
  border-color: #fff;
}
.reviews_carousel.sv_dots_nav .owl-dots .owl-dot.active {
  border-color: #8fb73e;
}
.name_review {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  margin-bottom: 20px;
  color: #8fb73e;
}
.photo_review {
  width: 120px;
  height: 120px;
  margin: auto;
  overflow: hidden;
  border: 3px solid #8fb73e;
  background-color: transparent;
  margin-bottom: 30px;
  padding: 3px;
  box-sizing: border-box;
}
.photo_review img {
  display: block;
  width: 100%!important;
  height: 108px!important;
  object-fit: cover!important;
}
.reviews_carousel .owl-dots {
  margin-top: 30px;
}
/************************************************************/
/******************FORM INPUE FIELDS STYLE*******************/
/***********************************************************/
.filed_form input[type="text"],
.filed_form input[type="email"],
.filed_form input[type="password"],
.filed_form input[type="tel"],
.filed_form input[type="phone"],
.filed_form textarea {
  display: block;
  width: 100%;
  padding: 11px 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border: none;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  background-color: #edf0f3;
  transition: all 0.3s ease;
}
.filed_form input[type="text"]:focus,
.filed_form input[type="email"]:focus,
.filed_form input[type="password"]:focus,
.filed_form input[type="phone"]:focus,
.filed_form textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease;
}
.filed_form input[type="text"]:focus:invalid,
.filed_form input[type="email"]:focus:invalid {
  border-color: #ff0000;
}
.filed_form textarea {
  min-height: 148px;
}
form .filed_form input::-webkit-input-placeholder,
form .filed_form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #525458;
}
form .filed_form input::-moz-placeholder,
form .filed_form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #525458;
}
form .filed_form input:-ms-input-placeholder,
form .filed_form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #525458;
}
form .filed_form input:-moz-placeholder,
form .filed_form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #525458;
}
/************************************************************/
/*********************HOME OUR TEAM**************************/
/***********************************************************/
.team_card_item {
  position: relative;
  overflow: hidden;

}
.team_card_item_img {
  overflow: hidden;
  max-height:400px;
}
.team_card_item_img a{
  display:block;
  min-height:350px;
  background-color:#efefef;
}
.team_card_item_img img {
  display: block;
  width: 100%;
}
.name_card_wrapper {
  padding: 30px 0;
  background-color: #282828;
}
.name_card_wrapper .team_card_item_name {
  margin: 0;
  color: #fff;
}
.team_card_item_name {
  text-align: center;
  margin-top: 27px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}
.team_card_item .overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  color: #fff;
  box-sizing: border-box;
  padding: 30px 34px;
  background-color: #282828;
  transition: all 0.5s ease;
}
.team_card_item .short_text_team {
  font-size: 16px;
}
.team_card_item h6,
.team_card_item h5 {
  margin-bottom: 10px;
}
.team_card_item p {
  margin-bottom: 10px;
  font-size: 14px;
}
.social_team {
  margin-top: 10px;
}
.social_team a {
  display: inline-block;
  color: #8fb73e;
  font-size: 24px;
}
.team_card_item .overlay .team_card_item_name {
  margin: 0 0 24px 0;
  text-align: left;
}
.team_card_item .overlay a {
  color: #8fb73e;
  text-decoration: none;
}
.team_card_item:hover .overlay {
  top: 0;
  opacity: 1;
  transition: all 0.6s ease;
}
/************************************************************/
/**********************HOME NEWS LIST************************/
/***********************************************************/
.latest_news_carousel .item {
  min-height: 210px;
  padding: 34px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  background-color: #282828;
}
.new_date {
  font-size: 14px;
  text-transform: uppercase;
  color: #b9b9b9;
  margin-bottom: 7px;
}
.new_name {
  margin: 0px 0 10px 0;
}
.new_name,
.latest_news_carousel .item a {
  font-family: 'Montserrat', sans-serif;
  color: #8fb73e;
}
.new_name a:hover,
.new_name a:focus {
  text-decoration: none;
}
/************************************************************/
/************************PAGE HEAD TITLE********************/
/***********************************************************/
.header_title {
  background-color: #efefef;
  min-height: 500px;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*DEO PAGE BACKGROUND*/
.pade_bg1 {
  background-image: url(../images/default.jpg);
}
.pade_bg2 {
  background-image: url(../images/event.jpg);
}
.pade_bg3 {
  background-image: url(../images/default.jpg);
}
.pade_bg4 {
  background-image: url(../images/default.jpg);
  background-position: center bottom;
}
.pade_bg5 {
  background-image: url(../images/default.jpg);
}
.pade_bg6 {
  background-image: url(../images/default.jpg);
}
.header_title h1 {
  color: #fff;
}
.header_title .container {
  z-index: 2;
}
/*PAGE LIST BREADCRAMPS*/
.page-list {
  margin-top: 10px;
}
.page-list li {
  margin: 5px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
}
.page-list li a {
  color: #8fb73e;
}
/************************************************************/
/***********************TYPE PAGE WRAPPER*******************/
/***********************************************************/
/************************************************************/
/********************CATEGORY TEAM PAGE**********************/
/***********************************************************/
/************************************************************/
/********************SINGLE TEAM PAGE**********************/
/***********************************************************/
/****IMAGE-COLUMN*****/
.preview_post_image {
  margin-bottom: 30px;
}
.preview_post_image img {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.card_detail_info {
  margin-bottom: 30px;
}
.card_detail_info li {
  font-size: 16px;
  margin-top: 5px;
  padding: 5px 0;
}
.card_detail_info li:first-child {
  margin-top: 0;
}
.card_detail_info .fa-star {
  color: #8fb73e;
}
/*****SOC LINK******/
.soc_link {
  display: inline-block;
  margin: 0 2px;
  font-size: 21px;
  color: #000;
  line-height: 1;
  position: relative;
  top: 2px;
  transition: all 0.3s ease;
}
.soc_link:hover,
.soc_link:focus {
  color: #8fb73e;
  transition: all 0.3s ease;
}
/*****INFO-COLUMN*****/
.name_person {
  line-height: 0.9;
  margin-bottom: 7px;
}
.position_porson {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.entry_meta {
  font-size: 16px;
  font-weight: 600;
}
.entry_meta a {
  color: #000;
  text-decoration: none;
}
.entry_meta i {
  position: relative;
  top: -1px;
  font-size: 13px;
  margin-right: 3px;
  color: #000;
  display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 1.9;
  background-color: #8fb73e;
}
.datelink {
  display: inline-block;
  margin: 0 15px 0 0;
}
.entry_content {
  margin-top: 25px;
  font-size: 16px;
}
/******CONTACT FORM*******/
.contact-form {
  margin-top: 30px;
}
.contact_form_submit {
  margin-top: 30px;
  float: right;
}
/************************************************************/
/*********************CATEGORY NEWS*************************/
/***********************************************************/
.news_page_category .name_new {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}
.news_page_category .new_date {
  text-align: center;
}
/************NEWS ONE ROW STYLE*****************/
.onerow_style_card {
  margin: auto;
  overflow: hidden;
}
.onerow_style_card .item_service_card{
	display: flex;
}
.onerow_style_card .image_service,
.onerow_style_card .describe_service {
  float: left;
}
.onerow_style_card .image_service {
  width: 25%;

}
.onerow_style_card .image_service a {
  height: 100%;
}
.onerow_style_card .describe_service {
  width: 75%;
}
.onerow_style_card .image_service img {
  height: 100%;
}
.onerow_style_card .name_new,
.onerow_style_card .new_date {
  text-align: left;
}
/************************************************************/
/*********************ITEM POST SICNGLE*********************/
/***********************************************************/
.item_content {
  font-size: 16px;
  padding: 50px 60px 0 60px;
}
.item_content .entry-title {
  margin-bottom: 20px;
}
.item_content h3,
.item_content h4,
.item_content h5 {
  margin-bottom: 20px;
}
.item_content p {
  margin-bottom: 10px;
}
.item_content blockquote {
  font-style: italic;
  background-color: #f4f4f4;
  box-sizing: border-box;
  padding: 20px;
  border-left: 3px solid #8fb73e;
}
/************************************************************/
/************************RELATED CARD************************/
/***********************************************************/
.related_card_area .sec-title {
  margin-bottom: 45px;
}
.related_card_area.dark_area .sec-title {
  color: #fff;
}
/************************************************************/
/***********************POST OPTIONS************************/
/***********************************************************/
.post_options {
  margin-top: 60px;
}
.post_options ul {
  position: relative;
  padding: 22px 0px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.post_options a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
.post_options .prev {
  float: left;
}
.post_options .next {
  float: right;
}
.post_options .grid {
  position: absolute;
  left: 50%;
  font-size: 26px;
  line-height: 1.1;
  margin-left: -15px;
}
.post_options .grid a {
  font-size: 26px;
}
/************************************************************/
/**********************PAGE PAGINATION***********************/
/***********************************************************/
.sv_pagination {
  text-align: center;
}
.sv_pagination li {
  display: inline-block;
}
.sv_pagination li a {
  display: block;
  padding: 5px;
  height: 50px;
  width: 50px;
  margin: 0 7px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
  box-sizing: border-box;
  background-color: #f4f4f4;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sv_pagination li a:hover {
  background-color: #8fb73e;
  transition: all 0.3s ease;
}
.sv_pagination .current_page_item a {
  background-color: #8fb73e;
}
.sv_pagination .previous_page i,
.sv_pagination .next_page i {
  position: relative;
  top: -2px;
  font-size: 20px;
}
/************************************************************/
/*****************FILTER STYLE NAVIGATION********************/
/***********************************************************/
.filter_nav {
  text-align: right;
}
.filter_nav a {
  display: inline-block;
  color: #000;
  font-size: 24px;
  margin: 0 7px;
  line-height: 0.4;
  text-decoration: none;
  transition: all 0.6s ease;
}
.filter_nav a:last-child {
  margin-right: 0;
}
.filter_nav .active,
.filter_nav a:hover,
.filter_nav a:focus {
  color: #8fb73e;
  transition: all 0.3s ease;
}
/************************************************************/
/*************************SIDEBAR SITE**********************/
/***********************************************************/
.sidebar_block {
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.sidebar_block:last-child {
  margin-bottom: 0;
}
.widget_title {
  margin-bottom: 30px;
  padding-top: 18px;
}
.sidebar_block li a {
  color: #000;
  transition: all 0.3s ease;
}
.sidebar_block li a:hover {
  color: #8fb73e;
  transition: all 0.3s ease;
  text-decoration: none;
}
/*SINGLE SERVICE SIDEBAR*/
.widget_recent_post li {
  overflow: hidden;
  margin-top: 19px;
}
.widget_recent_post li:first-child {
  margin-top: 0;
}
.widget_recent_post li p {
  margin-bottom: 5px;
}
.widget_recent_post .post_thumb {
  float: left;
  margin-right: 20px;
}
.widget_recent_post .post_thumb img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.widget_recent_post .post_name {
  margin-bottom: 7px;
}
.widget_recent_post .post_rating {
  color: #8fb73e;
}
.widget_recent_post .post_date {
  font-size: 12px;
  color: #8c8c8c;
  margin-bottom: 10px;
  line-height: 1;
}
/*TWEET WIDGET*/
.widget_tweet_list li {
  margin-bottom: 17px;
}
.widget_tweet_list li:last-child {
  margin-bottom: 0;
}
.widget_tweet_list p {
  margin-bottom: 3px;
}
.widget_tweet_list p a {
  text-decoration: none;
  font-weight: 600;
}
.widget_tweet_list .time_tweet {
  font-size: 12px;
  color: #8c8c8c;
}
/*TAG WIGET*/
.widget_tag a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  color: #000;
  background-color: #8fb73e;
  text-decoration: none;
}
/************************************************************/
/*************************ABOUT PAGE**********************/
/***********************************************************/
.about_section .content-column {
  font-size: 18px;
}
.about_section .content-column p,
.about_section .content-column ul {
  margin-bottom: 15px;
}
.about_section .content-column h5,
.about_section .content-column h4,
.about_section .content-column h3,
.about_section .content-column h2,
.about_section .content-column h1 {
  margin-bottom: 17px;
}
/************************************************************/
/*******************ABOUT PAGESOCIAL LINE********************/
/***********************************************************/
.social_list_section {
  background-color: #282828;
  padding: 20px 0;
}
.social_list {
  text-align: center;
}
.social_list li {
  position: relative;
  margin: 0px 14px;
  display: inline-block;
}
.social_list li a {
  display: inline-block;
  color: #8fb73e;
  font-size: 18px;
}
/************************************************************/
/************************SUBSCRIBE LINE**********************/
/***********************************************************/
.subscribe_line {
  background-color: #282828ce;
  padding: 30px 0;
}
.subscribe_title {
  color: #fff;
  font-size: 30px;
  line-height: 1;
}
.subscribe_form {
  float: right;
  margin-top: 2px;
}
.subscribe_form input[type="text"],
.subscribe_form input[type="email"] {
  border-color: #ffff;
  color: #fff;
  border: 3px solid #fff;
  font-size: 14px;
  background-color: transparent;
}
.subscribe_form .filed_form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.subscribe_form .filed_form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.subscribe_form .filed_form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.subscribe_form .filed_form input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.subscribe_form .filed_form,
.subscribe_form .sv_btn[type="submyt"] {
  float: left;
}
.subscribe_form .filed_form {
  margin-bottom: 0;
  margin-right: 30px;
  width: 260px;
}
.subscribe_form .filed_form input {
  padding: 9px 20px;
}
/************************************************************/
/*************************MAIN FOOTER**********************/
/***********************************************************/
.main_footer {
  background-color: #282828;
  padding: 60px 0 55px 0;
}
.main_footer .copy {
  padding-left: 55px;
  margin-top: 3px;
}
.main_footer .footer_block {
  font-size: 14px;
  color: rgb(255, 255, 255);

}

.footer_block img{
  text-align: center;
  padding-left: 40px;

}
.main_footer .footer_block_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color:#8fb73e;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.social_wg a {
  display: inline-block;
  margin: 0 3px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.nexEvents{
  padding: 40px;
  text-align: center;

}
.conten1{
  border:rgba(75, 99, 75, 0.281) 2px solid;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
  border-radius: 5%;

   }
.conten1 img{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}
.boxdata{
  border-bottom:rgba(85, 85, 85, 0.281) 2px solid;
  min-height: 110px;
  max-height: 110px;
}
.title1{
  padding-bottom: 40px;
}
.title1 span{
  color:#8fb73e;
}
.title2 span{
  color:#8fb73e;
}
.DateEvent{
  padding: 5px;
  font-size: 15px
}
.NameEvent{
  padding: 5px;
  font-size: 20px;
}
.more{
  display: inline-block;
  padding: 10px 80px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #8fb73e;

}
.boton{
  padding-bottom: 10px;

}
.boton1{

    text-align: right;
    padding-bottom: 5px;

}
.boton2{
    text-align: right;

}
.boton2 a{
    padding: 10px;
    background-color: #8fb73e;
    color:white !important;
}
/*Efect parallax whitewater mastering*/
/* Header Parallax Element Style*/
.paral {
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  }

  /* Paragrapgh for Parallax Section */
  .paral p {
  font-size: 24px;
  color:#f5f5f5;
  text-align: center;
  line-height: 60px;
  }

  /* Heading for Parallax Section */
  .paral h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
  }

  /* Image for Parallax Section */
  .paralsec {

  background-image: url("../images/parallax.jpg");


  }
  .paralsec1{
  background-image: url("../images/rescue.jpg");
  }



  /* Add more images for more sections */

  /* Remove Bottom Margin from Jumbotron */
  .jumbotron{
    margin-bottom: 0;
  }

.textwhite{
  font-family: 'Open Sans',sans-serif;
  font-size:16px;
  word-spacing: 1px;
  padding: 15px;

}
.textwhite img{
    border-radius: 5%;
}
.textwhite h2,h3,h4,h5{
  padding-bottom: 10px ;
}
.textwhite p{
  padding-bottom: 7px;
}

/*tab*/
.nav-tabs {
  display:none;
}
.cart p{
  padding: 10px;
  font-family: 'Open Sans',sans-serif;
  font-size:16px;
}
.cart{
  background-color:#3e73b710;
}

.cart1{
  background-color:#3e73b710;
}
.cart1 p{
  padding: 10px;
  font-family: 'Open Sans',sans-serif;
  font-size:16px;
}
.cart2{
  font-size: 1rem;
}
.cart2 p{
  padding: 10px;
  font-family: 'Open Sans',sans-serif;
  font-size:16px;
}
.cart2 h3,h4,h5{
  padding: 7px;
}
.cart2 h3{
  padding: 7px;
}
.cart2 li{
  padding-left: 2em;

}
@media(min-width:768px) {
  .nav-tabs {
      display: flex;
  }

  .card {
      border: none;
  }

  .card .card-header {
      display:none;
  }

  .card .collapse{
      display:block;
  }
}

@media(max-width:767px){
  .tab-pane {
      display: block !important;
      opacity: 1;
  }

}
@media(max-width:400px){
  .tab-pane {
      display: block !important;
      opacity: 1;
  }

}

h4.card-title {
	margin: 0;
	font-family: "Open Sans";
	font-size: 1rem;
}

.card-header {
  padding: 0;

}
.but{
  font-family: 'open sans'sans-serif;
  font-size: 1.1em;
}

.but a:hover{
  color:white;


}

.verde{
  background: rgba(116, 197, 40, 0.678);
  box-shadow: 0px 1px 1px 0px rgb(53, 185, 41);
   color:white;
   text-align: center;

}
.verde12{
  background: rgba(116, 197, 40, 0.685);
  box-shadow: 0px 1px 1px 0px rgb(53, 185, 41);
   color:white;
   text-align: center;

}
.verde13{
  background: rgba(116, 197, 40, 0.678);
  box-shadow: 0px 1px 1px 0px rgb(53, 185, 41);
   color:white;
   text-align: center;

}
 /*Acordeon*/
 #accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordion a {
  color:black;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #56b42b7a;
  text-decoration: none;
  font-size: 20px;


}
.panel-body p{
  font-size: 1rem;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;


}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #56b42b7a;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #56b42b7a;
  transition: all 0.2s ease-in;
}

/* Add Indicator font awesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'Font Awesome 5 free';
  content: '\f00d';
  float: left;
  color: #56b42bb4;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;

}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}
.mas{
  float:left;
  color:rgba(60, 184, 43, 0.575);
}

.texsmall{
  font-size: 14px;
  color:rgb(54, 54, 54);
}

/*eventi*/
.eventi{
    font-family: 'Open Sans',sans-serif;
    font-size:16px;
    word-spacing: 1px;
    padding: 15px;


}
.eventi h3{
    font-size: 25px;
    border-top:silver solid 3px;
    padding: 10px;
}
.eventi h2{
    font-size: 4em;
    padding: 10px;
    text-align: center;
}
.eventi span{
    float:right;
   border-bottom:rgba(20, 99, 10, 0.63) solid 2px;
   font-size: 18px;
}
.eventi a{
    color:rgba(20, 99, 10, 0.63);
}
.eventi p{
    padding-left: 10px;
    padding: 5px;

}
.subtitle{
    text-align: center;
    padding: 10px;
    color:rgb(150, 146, 146);
}

.paginator{
    float: right;
    text-align: right;
    padding: 15px;
    font-size: 18px;
}
.paginator a{
    color:green;

}

.mores{
    display: inline-block;
  padding: 5px 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: none;
  color: rgb(82, 163, 73);
  cursor: pointer;
    border:solid 2px rgb(82, 163, 73);
   border-radius: 5%;
}
.mores:hover{
    background: rgba(0, 128, 0, 0.596);
    color:white;
    text-decoration: none;
}


.usd{
    font-size: 25px;
    color:rgba(20, 99, 10, 0.63);
}

.section_pad{

    padding-bottom: 10px;
}
.dates{
    font-size: 19px;
}
.iconp{
    font-size: 19px;
    padding-left: 5px;
    color:rgb(138, 138, 138);
}
/*Content events trips*/

.content{
    width: auto;
    height: 120px;


}
.content h2{

    border-radius: 2%;
    padding: 15px;
    background: rgba(0, 51, 128, 0.044);
}
.date{
    padding-top: 30px;


}
.price{
    padding-top: 30px;
    background: white;

}



/*Style free*/

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item{
    text-align: center;
    background-color: #ababac13;
}

.item h2{
    font-size: 25px;
    text-align: center;
}


.contenido{
    font-family: 'Open Sans';
    font-size: 19px;
    text-align: left;

}
.pricef{
    font-size: 35px;
    float: left;
}
.botonf{
    float: right;
}
.title{
    text-align: center;
    border-radius: 2%;
    padding: 10px 0px;
    margin: 0;

    border-bottom: #8fb73e79 solid 2px;
}

.imagedesc{
    padding-top: 10px;
}
.titlesingle h2{
    text-align: center;
    border-radius: 2%;
    padding: 10px 0px;
    margin: 0;
    font-size: 30px;
    border-bottom: #8fb73e79 solid 2px;
}
.paginator{

    padding-top: 10px;
    padding-bottom: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;

}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
 /*Contact*/



 .contactleft h2{
    padding: 20px 0px;
    color:rgb(61, 61, 61);
    font-size: 38px;
 }
 .contactleft h3{
     padding: 10px 0px;
 }
 .contactleft p{
     font-family: 'Open Sans';
     font-size: 18px;
 }
 .contactleft {
     padding-bottom: 15px;
 }
 .infocontact h2{
    padding: 20px 0px;
    color:rgb(61, 61, 61);
    font-size: 38px;
 }
 .infocontact p{
    font-family: 'Open Sans';

     font-size: 17px;

 }
 .infocontact i{
     font-size: 30px;
     padding-right:15px;
     color:rgba(23, 117, 10, 0.699);
 }
 .you{
     color:red !important;

 }
 .face{
     color:#4267b2 !important;

    }

.two{
  padding: 20px 0px;
}
.pagi{
    float: right !important;
    text-align: right;
}
.priceFormated{
    font-size: 25px !important;
}
/*cart events all*/
.section-gap {
    padding: 120px 0;
  }

  .section-title {
    padding-bottom: 30px;
  }

  .section-title h2 {
    margin-bottom: 20px;
  }

  .section-title p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .pb-20 {
    padding-bottom: 30px;
    height: 100px;
  }
  .title22 {
    margin: 50px 0 30px;
}
.headerevent span{
    text-align: center;

}
.pricedate{
    padding: 10px;
    font-size: 19px;
    text-align: center;
    background: #2d991731;
    border-radius: 5px;
}

.contentevent:hover{
    background: rgba(25, 128, 51, 0.377);
}

.definition a{
    color:black;
    text-decoration: none;


}
.single-feature {
    background-color: #ececf1c0;
    padding: 30px 30px 15px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 350px;
}


  .single-feature a {
    color: #222;
  }

  .single-feature:hover {
    cursor: pointer;
    color: #fff;
  }

  .single-feature:hover a, .single-feature:hover .title .lnr {
    color: #fff;
  }

  .single-feature .title .lnr {
    color: #222;
    font-weight: 400;
    margin-right: 12px;
    font-size: 20px;
  }

  .gallery-area .owl-controls {
    position: absolute;
    left: 90%;
    top: 89%;
  }
